// Colors
$theme-color: #400237;
$theme-secondary: #c92cb1;
$light-grey: #eaeaea;
$normal-grey: #cecece;

// Spacings
$large-spacing: 20px;
$regular-spacing: 10px;
$small-spacing: 7px;

// base breakpoints
$size-xxs: 400px;
$size-xs: 568px;
$size-md: 800px;
$size-lg: 1150px;
$size-xl: 1600px;
